@using SchoolTripsReservationSystem.Extensions

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Excursion" asp-action="All">All Excursions</a>
    </li>
    
    @if (this.User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="Make">Book Excursion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="My">My Excursions</a>
        </li>
        @if (User.IsAdmin())
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="All">All Reservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Excursion" asp-action="Add">New Excursion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Transport" asp-action="Add">Add Transport</a>
            </li>
        }      
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="School" asp-action="Add">Add School</a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
</ul>
